<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Shizuku Permissions -->
    <uses-permission android:name="rikka.shizuku.permission.ACCESS_SHIZUKU" />

    <!-- Network Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Package/Install Permissions -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!-- System Settings Permissions -->
    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions,PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- These permissions are needed for the device management features; telephony hardware not required -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- Notification Permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
		android:usesCleartextTraffic="true"
		android:networkSecurityConfig="@xml/network_security_config"
		android:hardwareAccelerated="true"
		android:largeHeap="true"
		android:windowSoftInputMode="adjustResize|stateHidden"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.ZipFlash.Splash"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-sh" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/x-shellscript" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-sh" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/x-shellscript" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0" />

        <provider
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:name="rikka.shizuku.ShizukuProvider"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

    </application>
	
		
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

</manifest>
